<div class="row">
	<div class="col-md-9">
	  <div class="box box-warning box-solid">
		<div class="box-body">
		 
			<div class="modal-body">
			 
			  <div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Business</label>
						<div class="col-sm-9">
						  <select id="addaccount_id" #addaccount_id="ngModel" class="hideLabel form-control" [(ngModel)]="accountiddata" name="accountaugustus_id" >  
						  <option selected="" value="">Select Business Here</option>
						  <option [ngValue]="k.account_id"  *ngFor="let k of searchaccountslist">  
						  {{k.accountname}}  
						  </option>  
						  </select>
						</div>
					  </div>
				</div>
				<div class="col-md-4">
				  
				  <div class="form-group">
					<label for="name" class="col-sm-3 control-label">Status</label>
					<div class="col-sm-9"> 
					  <select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="droppenstatus" name="subcatid" >  
					  <option [ngValue]="k.status"  *ngFor="let k of dd">  
					  {{k.status}}  
					  </option>  
					  </select>
					</div>
				  </div>
				  
				</div>
				<div class="col-md-4">
				  
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Year</label>
						<div class="col-sm-9"> 
						  <select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="selectyear" name="years" >  
						  <option [ngValue]="k.year"  *ngFor="let k of yeardrop">  
						  {{k.year}}  
						  </option>  
						  </select>
						</div>
					  </div>
				  
				</div>
				<div class="col-md-12">
				  
					<button class="btn btn-info" style="float: right;margin-left: 7px;" data-toggle="modal" data-target="#feedback" id="addMemberModalBtn"><span class="glyphicon glyphicon-plus-sign"></span>AddExpenses </button>
				 
				  <div class="form-group">
					<button class="btn btn-info" style="float: right;margin-left: 7px;" tittle="Treeview" (click)="treeview()"> <i class="fa fa-tree"></i></button>
					<button class="btn btn-info" style="float: right;margin-left: 7px;" tittle="Tableview" (click)="tableview()"><i class="fa fa-table" ></i></button>
					<button class="btn btn-info" style="float: right;"   tittle="Search"(click)="searchtree()"><span class="glyphicon glyphicon-search"></span></button>
					
				</div>
				</div>
			  </div>
			</div>
		  
		</div>
	  </div>
	  <div *ngIf="treedataview">
		<div class="box box-warning box-solid">
			<div class="box-header">
				<h2> Expense Tree View</h2>
						</div>
		  <div class="box-body">

			<div class="modal-body">
			  <div *ngIf="catshow">
				
				<mat-tree [dataSource]="classifications" [treeControl]="treeControl">
				<mat-nested-tree-node *matTreeNodeDef="let node">
				  <div class="row">
					<button class="btn btn-primary btn-xs"  mat-icon-button type="button" (click)="treeControl.toggle(node)"
					[style.visibility]="node.children.length ? 'visible':'hidden'">
					<mat-icon>{{treeControl.isExpanded(node) ? '_':'+' }}</mat-icon>
					</button>
					<span *ngIf="node.type !=='datas'"  style="padding-left: 5px;"> {{node.name}} </span>
					<span  *ngIf="node.type !=='datas'"  data-toggle="tooltip" title="" class="badge bg-light-blue" >{{node.count}}</span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  *ngIf="node.type ==='busi' || node.type ==='acc' || node.type ==='subacc'"  href=""  data-toggle="modal" data-target="#addexp"  style="text-align: center;"(click)="showEditProductForm(node)" title="Add Expense"> <i class="fa fa-plus"aria-hidden="true" style="font-size:15px;"></i></a>
					&nbsp;&nbsp;&nbsp;<a  *ngIf="node.type ==='subacc'"  href=""  data-toggle="modal" data-target="#info" (click)="showEditProductForm(node)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
												
					<div class="row" *ngIf="node.type ==='datas'" style="margin-top:-20px" >
						<div class="col-md-2">
							  {{node.name}}  
						 </div>
						<div class="col-md-2">
							  {{node.date}}  
						 </div>
						<div class="col-md-2">
							  {{node.username}}  
						 </div>
						<div class="col-md-2">
							  {{node.description}}  
						 </div>
						<div class="col-md-2">
		
						<span *ngIf="node.pendingstatus ==='non-pending'" style="color:green"> {{node.symbol}}{{node.amount}} </span>
						<span *ngIf="node.pendingstatus ==='pending'"  style="color:red"> {{node.symbol}}{{node.amount}} </span>
						
						</div>
						<div class="col-md-2">
						  <ul>
							<li *ngIf="node.type ==='datas'" >
							<a  href=""  data-toggle="modal" data-target="#addexp" (click)="showEditProductForm(node)" title="Add Expense"> <i class="fa fa-plus" aria-hidden="true" style="font-size:15px;"></i></a>
							</li>
							<li *ngIf="node.filepath !== 'nofile'">
								<a href="" data-toggle="modal" (click)="viewDoc(node)"data-target="#modaluloadpic"> <i class="fa  fa-eye" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
							  </li>
							  <li *ngIf="node.capture_id===uid  && node.accountstatus !=='freeze'" >
								<a href="" data-toggle="modal" (click)="showEditProductForm(node)"data-target="#modalunshare13"> <i class="fa  fa-trash-o" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
							  </li>
							  <li *ngIf="node.capture_id === uid  && node.accountstatus !=='freeze' && node.adminstatus !== 'admin' " >
								<a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(node)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
							  </li>
							  <li *ngIf="node.adminstatus === 'admin' && node.accountstatus ==='freeze'" >
								<a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(node)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
							  </li>
							  <li *ngIf="node.adminstatus === 'admin' && node.accountstatus !=='freeze'" >
								<a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(node)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
							  </li>
						  </ul>
						
						</div>
					  </div>
					  
					<ng-container matTreeNodeOutlet  *ngIf="treeControl.isExpanded(node)"></ng-container>
				  </div>
				</mat-nested-tree-node>
				</mat-tree>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div *ngIf="tabledataview">
		<div class="row">
		  <div class="col-md-12">
			<div class="col-sm-12">
				
					<h2> Expense Table View</h2>
							
			  <table  id="my-tables" datatable  *ngIf="myTable">
				<thead>
				  <tr>
					<th>S.No</th>
					<th>Date</th>
					<th>Business</th>
					<th>Name</th>
					<th>Account</th>
					<th>Sub-Account</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Operations</th>
				  </tr>
				</thead>
				<tbody>
				  <tr *ngFor="let item of expenses,let i=index">
					<td>{{i+1}}</td>
					<td>{{item.date}}</td>
					<td>{{item.accname}}</td>
					<td>{{item.name}}</td>
					<td>{{item.catname}}</td>
					<td>{{item.subcatname}}</td>
					<td>{{item.description | slice:0:25 }}</td>
					<td  *ngIf="item.pendingstatus ==='non-pending'"  style="color:green">{{item.symbol}}  {{item.amount}}</td>
					<td  *ngIf="item.pendingstatus ==='pending'"  style="color:red">{{item.symbol}}  {{item.amount}}</td>
					<td>
					  <ul>
						<li *ngIf="item.capture_id === uid  && item.accountstatus !=='freeze' && item.adminstatus !== 'admin' " >
						  <a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(item)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li *ngIf="item.adminstatus === 'admin' && item.accountstatus ==='freeze'" >
						  <a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(item)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li *ngIf="item.adminstatus === 'admin' && item.accountstatus !=='freeze'" >
						  <a href="" data-toggle="modal" data-target="#modal-delay"(click)="showEditProductForm(item)"> <i class="fa fa-edit (alias)" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li *ngIf="item.capture_id===uid  && item.accountstatus !=='freeze'" >
						  <a href="" data-toggle="modal" (click)="showEditProductForm(item)"data-target="#modalunshare13"> <i class="fa  fa-trash-o" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
						</li>
						<li *ngIf="item.file !== 'nofile'">
						  <a href="" data-toggle="modal" (click)="viewDoc(item)"data-target="#modaluloadpic"> <i class="fa  fa-eye" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
						</li>
					  </ul>
					</td>
				  </tr>
				</tbody>
			  </table>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="modal fade" id="feedback" name="feedback">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4>Add Expenses</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span></button>
			</div>
			<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
			  <div class="modal-body">
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Business*</label>
				  <div class="col-sm-7"> 
					<select id="addaccount_id" #addaccount_id="ngModel" class="hideLabel form-control" [(ngModel)]="accountid" name="accountmyexpense_id" (change)="selectacc();">  
					<option [ngValue]="k.account_id"  *ngFor="let k of accountslist ">  
					{{k.accountname}}  
					</option>  
					</select>
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showbusicon()" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Account*</label>
				  <div class="col-sm-7"> 
					<select id="addcat_id" #addcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="catid" name="catid" (change)="selectcat();">  
					<option [ngValue]="k.cat_id" *ngFor="let k of categorylist">  
					{{k.cat_name}}  
					</option>  
					</select>
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showacccon()" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Sub-Account*</label>
				  <div class="col-sm-7"> 
					<select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="subcatid" name="subcatid" (change)="selectsubcat();">  
					<option [ngValue]="k.sub_id"  *ngFor="let k of subcategorylist">  
					{{k.subcat_name}}  
					</option>  
					</select>
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showsubacccon()" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Date*</label>
				  <div class="col-sm-7" *ngFor="let yy of mindate" >
					<p style="color:blue;font-size:10px;">Freezed Date: {{yy.mindate}}</p>
					<input type="date" class="form-control" onkeydown="return false"  [(ngModel)]='expdate' placeholder="Date" required name="expdate" min="{{yy.mindate}}"  max="{{yy.maxdate}}" >
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Description* </label>
				  <div class="col-sm-7"> 
					<textarea class="form-control"   [(ngModel)]='description' name="description"> </textarea>
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Amount</label>
				  <div class="col-sm-7" *ngFor="let k of amountlist" > 
					<input type="Number" class="form-control"  [(ngModel)]='amount'   required name="amount" placeholder="Amount">
				  </div>
				</div>
				<br>
				<div class="row">
					<label for="name" class="col-sm-2 control-label">Status*</label>
					<div class="col-sm-9"> 
						<select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="addstatus" name="subcatid" (change)="selectstatus();">  
							<option [ngValue]="k.status"  *ngFor="let k of dds">  
									{{k.status}}  
							</option>  
						</select>
					</div>
				</div>
				
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Attachment *</label>
				  <div class="col-sm-7"> 
					<input type="file" name="fileToUpload" id="fileToUpload" accept="image/x-png,image/gif,image/jpeg,image/tiff,image/giff,image/jpg,image/raw">
				  </div>
				</div>
				<br>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="submit"  *ngIf="showbutom"   data-dismiss="modal" (click)="uploadImage()"  class="btn btn-primary" name="add">Add</button>
			</div>
			</form>
		  </div>
		</div>
	  </div>
	  <div class="modal fade" tabindex="-1" role="dialog"  id="modal-delay" name="modal-delay">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title">Details</h4>
			</div>
			<form class="form-horizontal" >
			  <div class="modal-body">
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Business</label>
				  <div class="col-sm-7"> 
					<select id="account" #account="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.accountid" name="accountid" (change)="selecteditacc();">  
					<option [ngValue]="k.account_id"  *ngFor="let k of accountslist">  
					{{k.accountname}}  
					</option>  
					</select> 
					 
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showBusinessForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
			
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Account</label>
				  <div class="col-sm-7"> 
					<select id="catd" #catd="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.catid" name="accountcat_id" (change)="selecteditcat()">  
					<option [ngValue]="k.cat_id" *ngFor="let k of categorylist">  
					{{k.cat_name}}  
					</option> 
					</select>  
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showAccountForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Sub-Account</label>
				  <div class="col-sm-7"> 
					<select id="editsubcat_id" #editsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.subcatid" name="subcatid" (change)="selecteditsubcat();">  
					<option [ngValue]="k.sub_id" *ngFor="let k of subcategorylist">  
					{{k.subcat_name}}  
					</option>  
					</select>
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showSubAccountForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
					<label for="name" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-7"> 
					  <input type="date" class="form-control" placeholder="Date" [(ngModel)]="editProduct.date" name="date"  >
					</div>
					
				  </div>
				  <br>
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Description </label>
				  <div class="col-sm-7"> 					   
					<textarea class="form-control" [(ngModel)]="editProduct.description" name = "description"  > </textarea>
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Amount</label>
				  <div class="col-sm-7">
					<p style="color:blue;font-size:15px;">Due Amount: {{editProduct.pendingamount}}</p>
					<input type="Number" class="form-control" name="amount" [(ngModel)]="editProduct.amount" placeholder="Amount" >
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Status</label>
				  <div class="col-sm-7"> 
					<select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.pendingstatus" name="subcatid" (change)="selectstatus();">  
					<option [ngValue]="k.status"  *ngFor="let k of dds">  
					{{k.status}}  
					</option>  
					</select>
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Attachment</label>
				  <div class="col-sm-7"> 
					<input type="file" name = "Upload" id="Upload" accept="image/x-png,image/gif,image/jpeg,image/tiff,image/giff,image/jpg,image/raw" >
				  </div>
				</div>
				<br>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				  <button type="submit" class="btn btn-primary"  (click)="updateProduct()" data-dismiss="modal"  name="update">Update</button>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	  <div class="modal fade" id="modalunshare13" name="modalunshare13">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title">Delete</h4>
			</div>
			<form action="" method="POST">
			  <div class="modal-body">
				<p>Are You Relly Want Delete</p>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<input class = "btn btn-primary" name = "delete"  (click)="removeProduct()" data-dismiss="modal" type="submit" value="Delete">
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	  <div class="modal fade" id="modaluloadpic" name="modaluloadpic">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title">View</h4>
			</div>
			<form action="" method="POST">
			  <div class="modal-body"  *ngFor="let doc of appDoc">
				<img [src] ="doc.displayfile" alt ="Doc" width="100%" height="auto"/>
			  </div>
			</form>
		  </div>
		</div>
	  </div>


	  <div class="modal fade" tabindex="-1" role="dialog"  id="addexp" name="modal-delay">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title">Details </h4>
			</div>
			<form class="form-horizontal" >
			  <div class="modal-body">
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Business</label>
				  <div class="col-sm-7"> 
					<select id="account" #account="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.accountid" name="accountid" (change)="selecteditacc();">  
					<option [ngValue]="k.account_id"  *ngFor="let k of accountslist">  
					{{k.accountname}}  
					</option>  
					</select>  
										
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showBusinessForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Account</label>
				  <div class="col-sm-7"> 
					<select id="catd" #catd="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.catid" name="accountcat_id" (change)="selecteditcat()">  
					<option [ngValue]="k.cat_id" *ngFor="let k of categorylist">  
					{{k.cat_name}}  
					</option> 
					</select>  
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showAccountForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Sub-Account</label>
				  <div class="col-sm-7"> 
					<select id="editsubcat_id" #editsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="editProduct.subcatid" name="subcatid" (change)="selecteditsubcat();">  
					<option [ngValue]="k.sub_id" *ngFor="let k of subcategorylist">  
					{{k.subcat_name}}  
					</option>  
					</select>
				  </div>
				  <div class="col-sm-2">
					<a  href=""   data-toggle="modal" data-target="#info" (click)="showSubAccountForm(editProduct)" title="Contact Info"> <i class="fa  fa-info-circle"aria-hidden="true" style="font-size:15px;color :green"></i></a>
					

				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Date</label>
				  <div class="col-sm-7" *ngFor="let yy of mindate" > 
					<p style="color:blue;font-size:10px;">Freezed Date: {{yy.mindate}}</p>
					
					<input type="date" class="form-control" onkeydown="return false" [(ngModel)]="subcatdate" placeholder="E-Mail" name="date" min="{{yy.mindate}}"  max="{{yy.maxdate}}" >
				</div>
				
				</div>
				<br>
				
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Description </label>
				  <div class="col-sm-7"> 					   
					<textarea class="form-control" [(ngModel)]="subcatdesc" name = "description"  > </textarea>
				  </div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 control-label">Amount</label>
				  <div class="col-sm-7">
					<input type="Number" class="form-control" name="amount" [(ngModel)]="subcatamount" placeholder="Amount" >
				  </div>
				</div>
				<br>
				<div class="row">
					<label for="name" class="col-sm-2 control-label">Status*</label>
					<div class="col-sm-7"> 
						<select id="addsubcat_id" #addsubcat_id="ngModel" class="hideLabel form-control" [(ngModel)]="addstatus" name="subcatid" (change)="selectstatus();">  
							<option [ngValue]="k.status"  *ngFor="let k of dds">  
									{{k.status}}  
							</option>  
						</select>
					</div>
				</div>
				<br>
				<div class="row">
				  <label for="name" class="col-sm-2 col-sm-2 control-label">Attachment</label>
				  <div class="col-sm-9"> 
					<input type="file" name = "Upload" id="Upload" accept="image/x-png,image/gif,image/jpeg,image/tiff,image/giff,image/jpg,image/raw" >
				  </div>
				</div>
				<br>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				  <button type="submit" class="btn btn-primary"  (click)="addsubexp()" data-dismiss="modal"  name="update">Update</button>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	  <div class="modal fade" id="info" *ngIf="display">
		<div class="modal-dialog">
		  <div class="modal-content">
		  <div class="modal-header">
		  <h4>View Contact</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span></button>
		  </div>
		  <form class="form-horizontal" action="" method="POST">
			<div class="modal-body" style="width: 100%;" >
			  <table id="my-tables" datatable  class="display" style="width:100%"   *ngIf="mytablecontacts">
	
				<thead>
	<tr role="row">
	  <th >S.No</th>
	  <th >Date</th>
	  <th> Name</th>
	  <th >Email </th>
	  <th >Address</th>
	  <th >Phone</th>

	 
		
	</tr>  
	</thead>
	<tbody>
	<tr  role="row" class="odd" *ngFor="let item of mycontacts,let i=index">
		<td>{{i+1}}</td>
		<td>{{item.adddate}}</td>
		<td>{{item.name}}</td>
		<td>{{item.email}}</td>
		<td>{{item.address}}</td>
		<td>{{item.phone}}</td>
	 	
	 
	</tr></tbody>
	</table>
			
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
			</div>
		  
		  </form>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-md-3">
	  <app-dailyadscomponent> </app-dailyadscomponent>
	</div>
  </div>