<div class="row">

  <div class="col-md-10">
                <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
        <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">Accounts</a></li>
        <li class=""><a href="#activity" data-toggle="tab" aria-expanded="flase">Archived Accounts</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane  active in" id="timeline">
                     
                      <div class="box box-info">
            <div class="box-body">
            <div class="modal fade" id="modalunshare111">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                       <h4 class="modal-title">Archive</h4>
                  </div>
                  <form action="" method="POST"></form>
                  <div class="modal-body">
                    <p>Are You Relly Want Archive this Account</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" name="delete" type="submit"value="Archive">
                    <input name="deleteiteam" type="hidden" value="11">
                  </div>
                  
                  </div>
                </div>
                </div>
                <div class="modal fade" id="modal-delay11">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Account Details</h4>
                  </div>
                  <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data"></form>
                    <div class="modal-body">
                    <div class="row">
                      <label for="name" class="col-sm-2 control-label">Account Name</label>
                      <div class="col-sm-9"> 
                      <input type="text" class="form-control" placeholder="account" name="account" value="family">
                      </div>
                    </div>
                    <br>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="update">Update</button>
                    <input type="hidden" class="btn btn-primary" name="accountid" value="11">
                    </div>
                  
                  </div>
                </div>
                </div>
                <div class="modal fade" id="modalunshare114">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                       <h4 class="modal-title">Archive</h4>
                  </div>
                  <form action="" method="POST"></form>
                  <div class="modal-body">
                    <p>Are You Relly Want Archive this Account</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" name="delete" type="submit" value="Archive">
                    <input name="deleteiteam" type="hidden" value="14">
                  </div>
                  
                  </div>
                </div>
                </div>
                <div class="modal fade" id="modal-delay14">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Account Details</h4>
                  </div>
                  <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data"></form>
                    <div class="modal-body">
                    <div class="row">
                      <label for="name" class="col-sm-2 control-label">Account Name</label>
                      <div class="col-sm-9"> 
                      <input type="text" class="form-control" placeholder="account" name="account" value="Friends">
                      </div>
                    </div>
                    <br>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="update">Update</button>
                    <input type="hidden" class="btn btn-primary" name="accountid" value="14">
                    </div>
                  
                  </div>
                </div>
                </div>
                <div>
                 
                    <div class="row"><div class="col-sm-12">
                      <table id="my-tables" datatable  class="display" style="width:100%" *ngIf="myTable" >
          
                          <thead>
              <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 105.26px;">S.No</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 283.038px;">Account Name</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 257.483px;">Created Date</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 377.361px;">Operations</th>
               
                  
              </tr>  
              </thead>
              <tbody>
              <tr  role="row" class="odd" *ngFor="let item of accountlist,let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.accountname}}</td>
                  <td>{{item.date}}</td> 
                  <td>
                    <ul>
                        <li>
                        <a (click)="viewAccount(item)" > <i class="fa fa-eye" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
                        </li>
                        
                     </ul>
                  </td>
                  
               
              </tr></tbody>
            </table>
          </div>
        </div>
        <div class="modal fade" id="modalactive1">
            <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title">Activate</h4>
              </div>
              <form action="" method="POST">
              <div class="modal-body">
               
                <p>Are You Relly Want Activate this Account</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button class = "btn btn-primary" (click)="activate()"   name="Activate"   value="Activate" data-dismiss="modal" >Activate</button>
                </div>
              </form>
              </div>
            </div>
            </div>
           
            <div class="modal fade" id="modalinactive2">
              <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">In-Activate</h4>
                </div>
                <form action="" method="POST">
                <div class="modal-body">
                 
                  <p>Are You Relly Want In-Activate this Account</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  <button  class = "btn btn-primary"  (click)="inactivate()"  data-dismiss="modal" >In-Active</button>
                
                </div>
                </form>
                </div>
              </div>
            </div>
        </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="feedback">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h4>Add Account</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            </div>
            <form class="form-horizontal" action="" method="POST">
              <div class="modal-body">
                  <div class="modal-body">
                <div class="row">
                  <label for="name" class="col-sm-2 control-label">Account Name</label>
                  <div class="col-sm-9"> 
                    <input type="text" class="form-control"  required  [(ngModel)]='accountname' placeholder="Account Name" name="account">
                  </div>
                </div>
                <br>
                
                 </div>
                 <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit"  data-dismiss="modal"  class="btn btn-primary" name="accountadd">Add</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="activity">
          <div class="box box-warning">
            <div class="box-body">
            <form class="form-horizontal" method="POST" action="">
              <div class="modal fade" id="modalunshare2">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                         <h4 class="modal-title">UnArchive</h4>
                    </div>
                    
                    <div class="modal-body">
                      <p>Are You Relly Want UnArchive this Account</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                      <button class = "btn btn-primary" (click)="activate()"   name="Activate"   value="Activate" data-dismiss="modal" >Activate</button>
                 
                    </div>
                    
                    </div>
                  </div>
                  </div>
                </form></div>
              </div>
                 
                      <div class="row"><div class="col-sm-12">
                       <table   id="my-archaved" datatable  class="display" style="width:100%" *ngIf="myacraved" >
                <thead>
                <tr role="row">
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;">S.No</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;">Account Name</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;">Created Date</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;">Operations</th>
                  </tr>  
          </thead>
                <tbody>
                  <tr role="row" class="odd" *ngFor="let item of archieveacclist,let i=index">
                   <td>{{i+1}}</td>
                   <td>{{item.accountname}}</td>
                   <td>{{item.date}}</td>
                   <td>
                      <a (click)="viewAccount(item)" > <i class="fa fa-eye" aria-hidden="true" style="font-size:15px;color:   #0C14B7;"></i></a>
                            </td>
                  
                 </tr>
           </tbody>
              </table>
        </div></div>
     
        
           
        
        </div>
        </div>
      <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
      </div>
      
   

    </div>
    <!-- div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
    <app-expads> </app-expads>
      </div>
     
    </div -->     