<div class="row">
	
	  <div class="col-md-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">Expenses</a></li>
					<li class=""><a href="#activity" data-toggle="tab" aria-expanded="flase">Income</a></li>
				</ul>
		  <div class="tab-content">
			<div class="tab-pane  active in" id="timeline" name="timeline">
				<div class="box box-info">
			  		<div class="box-body">
			 		   <div>
				   		<div class="row">
					  <div class="col-sm-12">
							<table  id="my-tables" datatable  class="table table-bordered"  *ngIf="myTable">
									<thead>
									  <tr>
										<th>S.No</th>
										<th>Date  </th>
										<th>Business</th>
										<th>Account</th>
										<th>Sub-Accout</th>
										<th>Description</th>
										<th>Amount</th>
									  </tr>  
									</thead>
					<tbody>
						<tr  role="row" class="odd" *ngFor="let item of expensesaccount,let i=index">
							<td>{{i+1}}</td>
							<td>{{item.date}}</td>
							<td>{{item.accountname}}</td> 
							<td>{{item.categoryname}}</td> 
							<td>{{item.subcatname}}</td> 
							<td>{{item.des}}</td> 
							<td>{{item.amount}}</td> 
						   
						</tr>
					  </tbody>
								  </table>
							   
				
			</div>
		  </div>
		 
		  </div>
			  </div>
			</div>
		  </div>
		  <!-- /.tab-pane -->
		  <div class="tab-pane" id="activity" name="activity">
			<div class="box box-warning">
			  <div class="box-body">
			  	<div class="row">
				<div class="col-sm-12">
						<table id="my-tables" datatable   class="table table-bordered" *ngIf="myTab">
								<thead>
								  <tr>
									<th>S.No</th>
									<th>Date</th>
							<th>Account</th>
									<th>Category</th>
									<th>Sub-Category</th>
									<th>Description</th>
									<th>Income Amount</th>
								  </tr>  
								</thead>
				<tbody>
					<tr  role="row" class="odd" *ngFor="let item of incomeaccount,let i=index">
						<td>{{i+1}}</td>
						<td>{{item.date}}</td>
						<td>{{item.accountname}}</td> 
						<td>{{item.categoryname}}</td> 
						<td>{{item.subcatname}}</td> 
						<td>{{item.des}}</td> 
						<td>{{item.amount}}</td> 
					   
					</tr>
				  </tbody>
							  </table>
					  
		  </div></div>
	   
		  
			  </div>
				</div>
				   
					
			 
		  
		  </div>
		  </div>
		<!-- /.tab-content -->
		</div>
		<!-- /.nav-tabs-custom -->
		</div>
		
	  </div>

	