<div class ="row" style="background-image: url('../../../assets/images/dl3.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="register-box">
  <div class="register-logo">
      <a> 
        <img  src="assets/images/dl22.png" alt="pic"  style="height: 120px; width: 400px;">
         </a>
  </div>

  <div class="register-box-body">
     
    <p class="login-box-msg">Forgot Password</p>

    <form  method="post">
     
     
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Email"[(ngModel)]='email'[ngModelOptions]="{standalone:true}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
     
      
      <div class="row">
        <div class="col-xs-8">
          <a href="#" routerLink="/login"class="text-center" id="fgt">Try To Login </a>
           
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button (click)='createUser()'class="btn btn-block btn-success">Submit</button>
         </div>
        <!-- /.col -->
      </div>
    </form>

   
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
  </div>