<footer class="main-footer">
  <div class="pull-right hidden-xs">
  </div>	  
      <p class="p-small m-bottom-0">Copyright&copy;({{presents}}-{{futureyears}}) DAILYROLL. All Rights Reserved
         <a href="https://dailyroll.org/privacy.html" target="_blank" class="foo-1-link">Privacy Policy</a>
        <a href="https://dailyroll.org/termsandconditions.html" target="_blank"   class="foo-1-link">Terms of Service</a>
      </p>
     <ul class="footer-links clearfix" style="float: right;margin-top: -30px;">
        <li><a href="#" class="foo-1-link"></a></li>		
        
        <li><a href="https://dailyroll.org/termsandconditions.html" target="_blank"   class="foo-1-link">Version :{{versions}} </a></li>
     </ul>							
</footer>